.nav {
  --header-color: white;
  --header-background-opacity: 0;
  --header-background-color: rgba(
    255,
    255,
    255,
    var(--header-background-opacity)
  );
  z-index: 2;
  color: var(--header-color);
  background-color: var(--header-background-color);
}
